# This compose file includes two services that are not run by default:
# - schemaspy: for generating database schema documentation
# - caddy: for serving the frontend with Caddy web server
#
# To start these services, set the COMPOSE_PROFILES environment variable:
#   COMPOSE_PROFILES="schemaspy,caddy" podman-compose up
#
# !! I've noticed an issue with the podman-compose healthcheck where it tries
# to bring up the migrations and backend services before the database is ready.
# for now just run them each in order manually:
#   podman-compose up -d database
#   podman-compose up -d migrations
#   podman-compose up -d backend
#   podman-compose up -d frontend

# Reusable vars
x-var:
  - &POSTGRES_USER
    postgres
  - &POSTGRES_PASSWORD
    default
  - &POSTGRES_DATABASE
    postgres
  - &node-image
    node:22

# Reusable environment vars for postgres
x-postgres-vars: &postgres-vars
  POSTGRES_HOST: database
  POSTGRES_USER: *POSTGRES_USER
  POSTGRES_PASSWORD: *POSTGRES_PASSWORD
  POSTGRES_DATABASE: *POSTGRES_DATABASE

services:
  database:
    image: postgis/postgis:16-3.4 # if using crunchy , make sure to align with crunchy version, currently it is at 16 and postgis 3.3
    container_name: database
    environment:
      <<: *postgres-vars
    healthcheck:
      test: ["CMD", "pg_isready", "-U", *POSTGRES_USER]
    ports: ["5432:5432"]

  migrations:
    image: *node-image
    container_name: migrations
    command: sh -c "npx prisma migrate dev && npx prisma generate"
    volumes:
      - "./backend:/app"
    working_dir: "/app" 
    environment:
      DATABASE_URL: postgres://postgres:default@database:5432/postgres
      DATABASE_DIRECT_URL: postgres://postgres:default@database:5432/postgres
    depends_on:
      database:
        condition: service_healthy

  schemaspy:
    # This service is only started when the "schemaspy" profile is active.
    # COMPOSE_PROFILES=schemaspy podman-compose up -d schemaspy
    image: schemaspy/schemaspy:6.2.4
    profiles: ["schemaspy"]
    container_name: schemaspy
    command: -t pgsql11 -db postgres -host database -port 5432 -u postgres -p default -schemas users
    depends_on:
      migrations:
        condition: service_completed_successfully
    volumes: ["./output:/output"]

  backend:
    container_name: backend
    depends_on:
      database:
        condition: service_healthy
      migrations:
        condition: service_started
    entrypoint: sh -c "npm i && npm run start:dev"
    environment:
      <<: *postgres-vars
      NODE_ENV: development
    image: *node-image
    ports: ["3001:3000"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api"]
    working_dir: "/app"
    volumes: ["./backend:/app", "/app/node_modules"]

  frontend:
    container_name: frontend
    entrypoint: sh -c "npm ci && npm run dev"
    environment:
      BACKEND_URL: http://backend:3000
      PORT: 3000
      NODE_ENV: development
    image: *node-image
    ports: ["3000:3000"]
    volumes: ["./frontend:/app", "/app/node_modules"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
    working_dir: "/app"
    depends_on:
      backend:
        condition: service_healthy

  caddy:
    # This service is only started when the "caddy" profile is active.
    # COMPOSE_PROFILES=caddy podman-compose up -d caddy
    container_name: caddy
    profiles: ["caddy"]
    build: ./frontend
    environment:
      NODE_ENV: development
      PORT: 3000
      BACKEND_URL: http://backend:3000
      LOG_LEVEL: info
    ports: ["3005:3000"]
    volumes: ["./frontend/Caddyfile:/etc/caddy/Caddyfile"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
    depends_on:
      backend:
        condition: service_healthy
