name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - '.github/**'
      - '.github/graphics/**'
      - '!.github/workflows/**'
  workflow_dispatch:
    inputs:
      tag:
        description: "Image tag set to deploy; e.g. PR number or prod"
        type: string
        default: 'prod'

concurrency:
  # Do not interrupt previous workflows
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions: {}

jobs:
  # https://github.com/bcgov/quickstart-openshift-helpers
  deploy-test:
    name: Deploy (TEST)
    uses: ./.github/workflows/.deployer.yml
    secrets: inherit
    with:
      environment: test
      db_user: appproxy # appproxy is the user which works with pgbouncer.
      tag: ${{ inputs.tag }}

  tests:
    name: Tests
    needs: [deploy-test]
    uses: ./.github/workflows/.tests.yml
    with:
      target: test
